@import "./fonts.scss";




* {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
body.default
{

$backgroundColor: #262626;
$primaryTextColor: #8e8e8e;
$secondaryTextColor: #ff1763;
$primaryElementColor: #313131;
$secondaryElementColor: #ff1763;
$primaryShadowColor: #000000;
$fontRegular: "Ubuntu";
$fontBold: "Ubuntu-Bold";
$fontLight: "Ubuntu-Light";
	height: 100%;
	background-color: $backgroundColor;
	color: $primaryTextColor;
	display: flex;
	font-family: $fontRegular;
	margin: 0;
	a
	{
		color: $primaryTextColor;
		text-decoration: none;
	}
	#main
	{
		width: 100%; 
	}
	.head
	{
		font-family: $fontBold;
		width: 100%;
		height: 100px;
		display: flex;
		flex-direction: row;
		box-shadow: 0 0 10px $primaryShadowColor;
		padding: 20px;
		justify-content: space-between;
		&-title
		{
			display: flex;
			flex-basis: 20%;
			color: $secondaryTextColor;
			font-size: 35px;
			align-items: center;
    		justify-content: flex-start;
		}
		&-eye
		{
				display: flex;
				justify-content: center;
				height: 130px;
				width: 300px;
				justify-self: center; 
		}
		&-contacts
		{
			flex-direction: column;
			display: flex;
			flex-basis: 20%; 
			justify-content: space-around;
			a 
			{
				color: $secondaryTextColor;
			}
			&-google
			{
				display: flex;
    			align-items: center;
    			justify-content: space-evenly;
				&-avatar
				{
					border-radius: 50%;
					border: 2px solid $secondaryElementColor;
					cursor: pointer;
				}
			}
			&-github
			{
				display: flex;
				justify-content: space-evenly;
			}
		}
		
	}
	.eye
	{
		cursor: pointer;
		width: 150px;
		height: 150px;
		border: 10px solid $secondaryElementColor;
		border-radius: 75% 15%;
		transform: rotate(45deg); 
		background-color: $backgroundColor;
		box-shadow: 0 0 10px $primaryShadowColor;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		&-inside
		{
			height: 100%;
			width: 100%;
			transform: rotate(-45deg);
			&-pupil
			{
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				height: 70%;
				width: 70%; 
				background-color: $secondaryElementColor;
				border-radius: 50%;

				&-small
				{
					height: 75%;
					width: 75%;
					border-radius: 50%;
					background-color: $backgroundColor;
				}
			}
			&-topEyelid
			{
				height: 95%;
   			    width: 200%;
    			background-color: $secondaryElementColor;
    			position: absolute;
   				left: -50%;
   				border-radius: 50%;
   				border-bottom: 2px solid $primaryShadowColor;
   				animation: blinkTop 10s infinite;
			}
			&-bottomEyelid
			{
				height: 20%;
   			    width: 200%;
    			background-color: $secondaryElementColor;
    			position: absolute;
   				left: -50%;
   				bottom: -60%;
   				border-radius: 50%;
   				animation: blinkBottom 10s infinite;
   				
			}
			@keyframes blinkTop
			{
				0% {top: -95%;}
				1% {top: 0%;}
				2% {top: -95%;}
				100% {top: -95%;}
			}
			@keyframes blinkBottom
			{
				0% {bottom: -20%;}
				1% {bottom: 0%;}
				2% {bottom: -20%;}
				100% {bottom: -20%;}
			}
		}
	}
	.DrawWorkspace
	{
		width: 600px;
		height: 400px;
		.Canvas
		{
			background-color: white;
			cursor: crosshair;
			width: 100%;
			height: 315px;
		}
		.palet
		{
			width: 100%;
			height: auto;
			padding: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
	.Page
	{
		width: 100%;
		height: auto;
		padding: 20px;
		&-head
		{
			margin-top: 30px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			border-bottom: 3px solid $secondaryElementColor;
			padding: 0 10px;
			font-size: 25px;
		}
		&-content
		{
			padding: 40px 20px;
		}
	}
	.Navigation
	{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		height: 30px;
		align-self: flex-end;
		li
		{
			display: block;
			height: 30px;
			text-transform: uppercase;
			flex-basis: 25%;
			button
			{
				&:before
				{
					display: none;
				}
			}
			.active
			{
				button
				{
					background: $secondaryElementColor;
					color: $backgroundColor;
				}
			}
		}
	}
	.galleryPage
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	button
	{
		position: relative;
		background: none;
		color: $secondaryTextColor;
		height: 100%;
		max-height: 40px;
		width: auto;
		font-family: $fontBold;
		border-style: none;
		outline: none;
		padding: 5px 15px;
		font-size: 20px;
		line-height: 25px;
		text-transform: uppercase;
		transition:         0.08s ease-in;
		-o-transition:      0.08s ease-in;
		-ms-transition:     0.08s ease-in;
		-moz-transition:    0.08s ease-in;
		-webkit-transition: 0.08s ease-in;
		&:hover
		{
			color: $backgroundColor;
			&:after
			{
				top: 0;
			}
			&:before
			{
				bottom: 100%;
			}
		}
		&:before
		{
			content: "";
			position: absolute;
			background: $primaryElementColor;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			-webkit-transition: bottom 0.09s ease-in;
		}
		&:after
		{
			content: "";
			position: absolute;
			background: $secondaryElementColor;
			bottom: 0;
			left: 0;
			right: 0;
			top: 100%;
			z-index: -1;
			-webkit-transition: top 0.09s ease-in;
		}
	}
	input 
	{
		outline: none;
		border: 2px solid $secondaryElementColor;
		height: 40px;
		border-radius: 5px;
		padding: 5px;
		text-transform: uppercase;
		font-family: $fontBold;
		color: $secondaryTextColor;
		background-color: $backgroundColor;
		font-size: 25px;
	}
}